/* Header */
.admin__layouts__header--header--menu-trigger-img {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
}

.admin__layouts__header--header--dropdown-menu {
    position: absolute;
    top: 90px;
    right: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    width: 200px;
    box-shadow: -2px 5px #d7cfcf;
}

.admin__layouts__header--header--dropdown-menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: #fff;
    transform: rotate(45deg);
}

.admin__layouts__header--header--dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
}

.admin__layouts__header--header--dropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
}

.admin__layouts__header--header--dropdown-menu ul li {
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.admin__layouts__header--header--dropdown-menu ul li:hover a {
    color: rgb(212, 33, 9);
    cursor: pointer;
}

.admin__layouts__header--header--dropdown-menu ul li:hover i {
    opacity: 1;
    cursor: pointer;
}

.admin__layouts__header--header--dropdownItem {
    margin: 10px auto;
    line-height: 0.8;
}

.admin__layouts__header--header--dropdownItem a {
    max-width: 100px;
    margin-left: 10px;
    transition: 500ms;
}
